QZONE_UIN=123456789
QZONE_COOKIE=uin=o123456789; p_uin=o123456789; skey=xxxxx; p_skey=xxxxx;
TARGET_QQS=123456789,987654321

DB_PATH=data/qqzone.db
MEDIA_DIR=data/media
FETCH_LIMIT=20
POLL_INTERVAL_SECONDS=300
REQUEST_TIMEOUT=20

ONEBOT_BASE_URL=http://127.0.0.1:5700
ONEBOT_ACCESS_TOKEN=
PUSH_PRIVATE_USERS=123456789
PUSH_GROUPS=123456789
